/*-----------------------------------=========Main-Style-Sheet=========----------------------------------------*/


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
:root {
  --theme__color1: #fff;
  --font1: 'Poppins', sans-serif;
}
*,::before,::after {
  box-sizing: border-box;
}
body {
  font-size: 16px;
  line-height: 1.2;
  background-color: #fff;
  overflow-x: hidden;
  word-wrap: break-word;
  word-break: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  font-family: var(--font1);
}
a, a:active, a:focus, a:active, a:hover {
  text-decoration:none !important;
  color: inherit;
}
input{
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
a:hover,
a:focus,
input:focus,
input:hover,
select:focus,
select:hover,
select:active,
textarea:focus,
textarea:hover,
button:focus {
  outline: none;
}
::placeholder {
  opacity: 1;
}
:focus::placeholder {
  opacity: 0;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  table-layout: fixed; /* Prevents HTML tables from becoming too wide */
  width: 100%;
}
img {
  -ms-interpolation-mode: bicubic;
  border: 0;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
iframe {
  width: 100%;
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6{
  font-weight: 700;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
p{
  font-size: 18px;
  line-height: 1.2;
  margin-bottom: 15px;
}
p:last-child{
  margin: 0;
}
.main-wrap {
  width: 100%;
  overflow: hidden;
  min-height: 100vh;
}
@media (min-width: 1600px) {
  .container {
    max-width: 1500px;
  }
}




/* header */
.header-section {
  padding: 0 32px;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
.header-section-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-logo {
  margin: 0 0 0 30px;
}
.header-logo img {

}
.header-login {

}
.header-login .icon {
  width: 28px;
  height: 28px;
}
.header-login .icon img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
/* header-end */


/* ---main-section--- */
.main-section {
  
}
.main-section-inner {
  display: flex;
}
.page-sidebar {
  width: 300px;
  flex-shrink: 0;
}
.page-main-part {
  padding: 0 20px 50px;
  background: url('images/background.png');
  width: 0;
  flex-grow: 1;
}
/* ---main-section---end */



/* ---page-sidebar--- */
.page-sidebar {
  border-top: 1px solid #E3E3E3;
}
.page-sidebar-inner {

}
.sidebar-user {
  padding: 44px 31px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sidebar-user .image {
  width: 100px;
  height: 100px;
  margin: 0 0 50px;
}
.sidebar-user .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.sidebar-user .user-details {
  width: 100%;
}
.sidebar-user .user-details .single {
  margin: 0 0 13px;
  font-size: 12px;
  font-weight: 400;
  color: #37373790;
  display: flex;
  align-items: flex-start;
  line-height: 1.6;
}
.sidebar-user .user-details .single:last-child {
  margin: 0;
}
.sidebar-user .user-details .single .icon {
  flex-shrink: 0;
  margin: 0 33px 0 0;
}
.sidebar-user .user-details .single .txt {
  word-break: break-all;
}
.sidebar-menu {
  padding: 20px 0 0;
}
.sidebar-menu .title {
  padding: 10px 24px;
} 
.sidebar-menu .title h2 {
  font-size: 11px;
  font-weight: 500;
  color: #888888;
}
.sidebar-menu ul {

}
.sidebar-menu ul li {
  border-top: 1px solid #E3E3E3;
}
.sidebar-menu ul li:last-child {
  border-bottom: 1px solid #E3E3E3;
}
.sidebar-menu ul li a {
  padding: 10px 30px;
  min-height: 55px;
  font-size: 11px;
  font-weight: 500;
  color: #888888;
  display: flex;
  align-items: center;
  font-weight: 500;
}
.sidebar-menu ul li a:hover,
.sidebar-menu ul li a.active {
  color: #fff;
  background: #373737;
}
.sidebar-menu ul li a .icon {
  width: 20px;
  margin: 0 20px 0 0;
  display: flex;
  justify-content: center;
}
.sidebar-menu ul li a .txt {

}
/* ---page-sidebar----end */



/* ---box-tp-ad--- */
.box-tp-ad {
  height: 300px;
  background: #fff;
}
/* ---box-tp-ad---end */




/* ---content-cloud-table--- */
.content-cloud-table-outer {

}
.cloud-table-tp-nv-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
}
.ct-tp-nav {
  margin: -10px 0 0;
}
.ct-tp-nav ul {
  display: flex;
}
.ct-tp-nav ul li {

}
.ct-tp-nav ul li a {
  font-size: 11px;
  padding: 16px 25px;
  min-width: 120px;
  display: flex;
  justify-content: center;
  font-weight: 400;
  color: #373737;
  border: 1px solid #D6D6D6;
  background: #F1F1F1;
}
.ct-tp-nav ul li:not(:first-child) a {
  border-left: none;
}
.ct-tp-nav ul li a.active {
  background: #fff;
  border-bottom-color: transparent;
}
.dt-data-button {
  font-size: 11px;
  padding: 12px 25px;
  min-width: 150px;
  font-weight: 400;
  color: #373737;
  border: 1px solid #D6D6D6;
  background: #F1F1F1;
  text-align: center;
  background: #fff;
  border-radius: 0 0 5px 5px;
  margin-left: auto;
  order: -1;
}

.cloud-table-tab-content-outer {
  display: flex;
}
.cloud-table-tab-content {
  background: #fff;
}
.cloud-table-tab-pane {
  
}
.cloud-table-tab-pane .head-part {
  padding: 20px;
}
.select-x {
  padding: 0 20px;
  height: 44px;
  display: flex;
  align-items: center;
  background: #F2F2F2;
  font-size: 11px;
  font-weight: 500;
  color: #888888;
  border: 1px solid #D6D6D6;
  border-radius: 6px;
}
.select-x select {
  border: none;
  padding: 0;
  background: transparent;
  padding-right: 0px;
}
.cloud-table-tab-pane .head-part .row2 {
  margin: 15px 0;
  display: flex;
}
.cloud-table-tab-pane .head-part .row2 .col1 {
  width: 140px;
  margin-right: 15px;
  flex-shrink: 0;
}
.cloud-table-tab-pane .head-part .row2 .col1 .add-button {

}
.add-button-dd {
  padding: 0 20px;
  height: 44px;
  display: flex;
  align-items: center;
  background: #F2F2F2;
  font-size: 11px;
  font-weight: 500;
  color: #888888;
  border: 1px solid #D6D6D6;
  border-radius: 6px;
  text-align: center;
  justify-content: center;
}
.cloud-table-tab-pane .head-part .row2 .col2 {
  flex-grow: 1;
}
.searchbox-x {
  position: relative;
  width: 100%;
}
.searchbox-x .s-icon {
  top: 50%;
  left: 25px;
  transform: translate(0,-50%);
  position: absolute;
}
.searchbox-x .input {
  padding: 0 20px;
  padding-left: 65px;
  height: 44px;
  display: flex;
  align-items: center;
  background: #fff;
  font-size: 11px;
  font-weight: 500;
  color: #888888;
  border: 1px solid #D6D6D6;
  border-radius: 6px;
  width: 100%;
}



.cloud-table-tab-pane .table-part {
  
}
.table-stx {
  padding-bottom: 300px;
}
.table-stx .ass-row td {
  background: #F1F1F1;
}

.table-stx tbody td:first-child {
  border-left: 1px solid #D6D6D6;
}
.table-stx tbody td:last-child {
  border-right: 1px solid #D6D6D6;
}
.table-stx tr {
  position: relative;
}
.table-stx tr .creator-dropdown {
  position: absolute;
  top: 0;
}
.table-stx  td {
  padding: 7px 0;
  font-size: 11px;
  font-weight: 400;
  color: #373737;
  text-align: center;
  border-bottom: 1px solid #D6D6D6;
  transition: 0.3s;
}
.table-stx tbody tr:hover td {
  background: #DEB851;
  color: #fff;
}
.table-stx tbody tr:hover td i {
  color: #fff !important;
}
.table-stx .gray-row td {
  background: #373737 !important;
  color: #fff !important;
}
.table-stx  td .creator {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.table-stx  td .creator h4 {
  font-size: 9px;
  font-weight: 400;
  margin: 0 0 3px;
}
.table-stx  td .creator .image {
  margin: 0 0 3px;
  height: 28px;
  width: 28px;
}
.table-stx  td .creator .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}
.table-stx  td .creator h5 {
  font-size: 9px;
  font-weight: 400;
  margin: 0 0 0px;
}
.page-input {
  display: flex;
  align-items: center;
  justify-content: center;
}
.page-input .dropdown {
  width: 120px;
}
.page-input .input  {
  width: 120px;
  text-align: center;
  height: 28px;
  border: 1px solid #D6D6D6;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page-input .input.gray {
  background: #373737;
  color: #fff;
  border-color: transparent;
}
.page-input .three-bar  {
  padding: 0 0 0 7px;
  flex-shrink: 0;  
}
.switch-x-outer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.switch-x-outer .checkbox {
  margin: 0 0 0 9px;
}
.switch-x-outer .st1 {
  display: block;
  order: -1;
}
.switch-x-outer .st2 {
  display: none;
  order: -1;
}
.switch-x-outer .checkbox:checked ~ .st1 {
  display: none;
  order: var(--theme__color1);
}
.switch-x-outer .checkbox:checked ~ .st2 {
  display: block;
}
.table-stx thead td {
  padding-bottom: 20px;
}
.table-stx thead td .txt-bx {
  display: flex;
  justify-content: center;
}
.table-stx thead td .txt-bx .s-arrow {

}
.table-stx thead td .txt-bx .txt {
  margin: 0 13px;
} 
.table-stx tr .creator-dropdown {
  top: 5px;
  opacity: 0;
  visibility: hidden;
}
.table-stx tr.context-menu-opened .creator-dropdown {
  opacity: 1;
  visibility: visible;
}


.table-stx-str1 {
  overflow: auto;
}
.table-stx-str1 table {
  min-width: 800px;
}
.table-stx-str1 td:nth-child(1) {
  width: 9%;
}
.table-stx-str1 td:nth-child(2) {
  width: 24%;
  text-align: left;
}
.table-stx-str1 thead td:nth-child(2) .txt-bx {
  justify-content: flex-start;
}
.table-stx-str1 td:nth-child(3) {
  width: 11%;
}
.table-stx-str1 td:nth-child(4) {
  width: 9%;
}
.table-stx-str1 td:nth-child(5) {
  width: 10%;
}
.table-stx-str1 td:nth-child(6) {
  width: 14%;
}
.table-stx-str1 td:nth-child(7) {
  width: 14%;
}


.table-stx-str2 {
  overflow: auto;
}
.table-stx-str2 table {
  min-width: 600px;
}
.table-stx-str2 td:nth-child(1) {
  width: 9%;
}
.table-stx-str2 td:nth-child(2) {
  width: 24%;
  text-align: left;
}
.table-stx-str2 thead td:nth-child(2) .txt-bx {
  justify-content: flex-start;
}
.table-stx-str2 td:nth-child(3) {
  width: 13%;
}
.table-stx-str2 td:nth-child(4) {
  width: 12%;
}
.table-stx-str2 td:nth-child(5) {
  width: 10%;
}
.table-stx-str2 td:nth-child(6) {
  width: 10%;
}


.table-lst-border td:last-child {
  border-right: 4px solid #D6D6D6 !important;
}
.table-lst-border .rb-row td:last-child {
  border-right-color: #FF0000 !important;
}



.creator-dropdown {
  padding: 0;
  width: 200px;
  box-shadow: 0 0 10px #00000020;
  z-index: 10000;
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 3px 6px #D6D6D6;
  top: 10px;
}
.creator-dropdown ul {

}
.creator-dropdown ul li {

}
.creator-dropdown ul li a {
  font-size: 11px;
  padding: 13px 10px 13px 30px;
  font-weight: 400;
  color: #373737;
  display: flex;
  align-items: center;
  border-top: 1px solid #D6D6D6;
  transition: 0.3s;
}
.creator-dropdown ul li:first-child a {
  border-top: none;
}
.creator-dropdown ul li a:hover {
  background: #DEB851;
  color: #fff;
}
.creator-dropdown ul li a .icn {
  width: 22px;
  margin: 0 20px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.creator-dropdown ul li a .icn img {
  transition: 0.3s;
}
.creator-dropdown ul li a:hover .icn img {
  filter: brightness(0) invert(1);
}


.slct-dropdown-menu {
  padding: 0;
  width: 100% !important;
  min-width: 100% !important;
}
.slct-dropdown-menu ul {

}
.slct-dropdown-menu ul li {

}
.slct-dropdown-menu ul li a {
  padding: 15px;
  font-size: 9px;
  text-align: center;
  height: 28px;
  border-top: 1px solid #D6D6D6;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  transition: 0.3;
}
.slct-dropdown-menu ul li:first-child {
  border-top: none;
}
.slct-dropdown-menu ul li a:hover {
  color: #fff;
  background: #DEB851;
  border-color: transparent;
}
/* ---content-cloud-table---end */




/* ---add-x-modal--- */
.add-x-modal {

}
.add-x-modal .modal-dialog {
  max-width: 520px;
}
.add-x-modal .modal-dialog .modal-content {
  background: #F1F1F1;
}
.add-x-modal-inner {
  display: flex;
}
.add-x-nav {
  width: 200px;
  flex-shrink: 0;
}
.add-x-nav ul {
  flex-direction: column;
  border: 1px solid #D6D6D6;
  border-radius: 5px;
  overflow: hidden;
  height: 100%;
  display: flex;
}
.add-x-nav ul li {
  flex-grow: 1;
}
.add-x-nav ul li a {
  padding: 14px 20px;
  font-size: 11px;
  font-weight: 400;
  display: flex;
  background: #fff;
  height: 100%;
  align-items: center;
}
.add-x-nav ul li:not(:first-child) a {
  border-top: 1px solid #D6D6D6;
}
.add-x-nav ul li a.active {
  background: #F1F1F1;
}
.add-x-nav ul li a .icon {
  width: 30px;
  display: flex;
}
.add-x-nav ul li a .txt {

}

.add-x-tab-content {
  flex-grow: 1;
}
.add-x-tab-pane {
  
}
.add-x-tab-pane .title {
  padding: 10px 12px 2px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.add-x-tab-pane .title.bg-title {
  background: #E3E3E3;
  padding: 11px 20px 11px 20px;
}
.add-x-tab-pane .title h3 {
  font-size: 11px;
  font-weight: 400;
  color: #333333;
  margin: 0;
}
.add-x-tab-pane .title .close-button {
  color: #7e7d7d;
}
.add-x-tab-pane .sm-form {
	padding: 11px 30px 17px;
}
.add-x-tab-pane .sm-form .input {
  padding: 3px 24px;
  font-size: 11px;
  width: 100%;
  text-align: center;
  height: 28px;
  border: 1px solid #D6D6D6;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}
.add-x-tab-pane .sm-form .input.gray {
  background: #373737;
  color: #fff;
  border-color: transparent;
}
.add-x-tab-pane .sm-form .input.button {
  transition: 0.3s;
}
.add-x-tab-pane .sm-form .input.button:hover {
  background: #DEB851;
  color: #fff;
  border-color: transparent;
}
.add-x-tab-pane .upload-content {
	padding: 23px 0 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}
.add-x-tab-pane .upload-content img {
  margin: 0 0 18px;
}
.add-x-tab-pane .upload-content h4 {
  font-size: 11px;
  font-weight: 400;
  text-align: center;
}
.add-x-tab-pane .upload-content h4 span {
  color: #DEB851;
}



.move-to-modal-content {

}
.moveable-folder-list {

}
.moveable-folder-list .list-item {
  padding: 10px 28px;
  min-height: 40px;
  display: flex;
  align-items: center;
  border-top: 1px solid #D6D6D6;
  transition: 0.3s;
  cursor: pointer;
}
.moveable-folder-list .list-item:not(.add-new):hover {
  background: #DEB851;
}
.moveable-folder-list .list-item  .icon {
  margin: 0 20px 2px 0;
  width: 18.6px;
  flex-shrink: 0;
}
.moveable-folder-list .list-item h4 {
  font-size: 11px;
  font-weight: 400;
  color: #373737;
  margin: 0;
  transition: 0.3s;
}
.moveable-folder-list .list-item:not(.add-new):hover h4 {
  color: #fff;
}
.moveable-folder-list .list-item.add-new {
  background: #E3E3E3;
}
.moveable-folder-list .list-item .input-content {
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.moveable-folder-list .list-item .input-content .input {
  width: 20px;
  flex-grow: 1;
  background: #fff;
  border: none;
  border-radius: 6px;
  font-size: 11px;
  padding: 3px 13px;
} 
.moveable-folder-list .list-item .input-content .input::placeholder {
  color: #D6D6D6;
}
.moveable-folder-list .list-item .input-content .add-button {
  font-size: 16px;
  color: #888888;
  display: block;
  margin: 0 0 0 15px;
}


.color-change-m-content {
  padding: 14px;
  grid-gap: 8px;
  display: grid;
  grid-template-columns: repeat(5,1fr);
}
.color-folder-radio {
  position: relative;
}
.color-folder-radio .checkbox {
  display: none;
}
.color-folder-radio .folder-icon {

}
.color-folder-radio .checkmark-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-35%);
  color: #fff;
  font-size: 12px;
  opacity: 0;
  transition: 0.3s;
}
.color-folder-radio .checkbox:checked ~ .checkmark-icon {
  opacity: 1;
}
/* ---add-x-modal---end */



/* ---side-chat-x--- */
.side-chat-x {
  width: 300px;
  margin: 0 0 0 20px;
  flex-shrink: 0;
  background: #fff;
  align-self: flex-start;
}
.side-chat-x .title {
  padding: 17px 0;
  background: #373737;
  color: #fff;
}
.side-chat-x .title h2 {
  font-size: 11px;
  font-weight: 500;
  text-align: center;
  margin: 0;
}
.side-chat-x .nav-row {

}
.side-chat-x .nav-row ul {
  display: flex;
  border: 1px solid #D6D6D6;
  border-left: none;
}
.side-chat-x .nav-row ul li {
  width: 50%;
}
.side-chat-x .nav-row ul li a {
  padding: 17px 0;
  font-size: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  color: #373737;
  border-left: 1px solid #D6D6D6;
  background: #F1F1F1;
}
.side-chat-x .nav-row ul li a.active {
  background: #fff;
}
.side-chat-x .content-box-row {
  border-left: 1px solid #D6D6D6;
  border-right: 1px solid #D6D6D6;
  padding: 27px;
  min-height: 800px;
}
.side-chat-x .content-box-row p {
  font-size: 11px;
  font-weight: 400;
  line-height: 1.7;
  color: #888888;
}
.sd-chat-x-snd-box {
  border: 1px solid #D6D6D6;
  background: #F1F1F1;
  display: flex;
  padding: 12px 12px;
  align-items: center;
}
.sd-chat-x-snd-box .r-button {
  flex-shrink: 0;
} 
.sd-chat-x-snd-box .input {
  width: 0;
  flex-grow: 1;
  margin: 0 12px;
  background: #fff;
  border: none;
  border-radius: 6px;
  font-size: 11px;
  padding: 6px 13px;
}
/* ---side-chat-x---end */



/* ---view-mode-nav--- */
.view-mode-nav {

}
.view-mode-nav li {

}
.view-mode-nav li a {
  display: flex;
}
.view-mode-nav li a.active {
  display: none;
}
/* ---view-mode-nav---end */




/* ---grid-table--- */
.grid-table {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  width: 100%;
  grid-gap: 22px;
  padding: 10px 40px 40px;
} 
.grid-table .grid-item {
  border: 1px solid #D6D6D6;
}
.grid-table .grid-item .image {
  width: 100%;
}
.grid-table .grid-item .image img {
  width: 100%;
}
.grid-table .grid-item .content  {
  border-top: 1px solid #D6D6D6;
  background: #F1F1F1;
}
.grid-table .grid-item .content .row1 {
  padding: 10px;
  display: flex;
  align-items: center;
}
.grid-table .grid-item .content .row1 .icon {
  width: 13.33px;
  margin: 0 8px 0 0;
}
.grid-table .grid-item .content .row1 .icon img {

}
.grid-table .grid-item .content .row1 h3 {
  font-size: 7px;
  color: #888888;
  font-weight: 400;
  margin: 0;
}
/* ---grid-table---end */




/* ---uploading-modal--- */
.uploading-md-content-wrapper {
  width: 100%;
  border-radius: 6px;
  overflow: hidden;
}
.uploading-md-content-wrapper .head-part {
  padding: 20px 27px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #373737;
  width: 100%;
  border-radius: 6px 6px 0 0;
}
.uploading-md-content-wrapper .head-part h3 {
  font-size: 11px;
  font-weight: 400;
  color: #fff;
  margin: 0;
}
.uploading-md-content-wrapper .head-part .close-button {
  color: #fff;
}
.uploading-content {

}
.uploading-content-single {
  padding: 0 25px 0 23px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;
  background: #fff;
  border-top: 1px solid #D6D6D6;
}
.uploading-content-single .uploading-progress {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #F1F1F1;
  z-index: -1;
  border-right: 1px solid #D6D6D6;
}
.uploading-content-single .left-content {
  display: flex;
  align-items: center;
}
.uploading-content-single .left-content .icon {
  margin: 0 13px 0 0;
}
.uploading-content-single .left-content .icon img {

}
.uploading-content-single .left-content .txt {

}
.uploading-content-single .left-content .txt h3 {
  margin: 0 0 4px;
  font-size: 11px;
  font-weight: 400;
  color: #333333;
}
.uploading-content-single .left-content .txt p {
  font-size: 9px;
  font-weight: 400;
  color: #888888;
  margin: 0;
}
.uploading-content-single .right-buttons {
  display: flex;
}
.uploading-content-single .right-buttons .button {
  margin-left: 10px;
}
.uploading-content-single .right-buttons .button:first-child {
  margin-left: 0;
}
.uploading-content-single .right-buttons .success {
  font-size: 12px;
  color: #888888;
}
/* ---uploading-modal---end */